.scroll-anchor {
  top: -70px;
  position: relative;
  visibility: hidden;
  display: block;
}

.category-list {
  display: table;

  .category {
    display: table-row;

    .category-cell {
      display: table-cell;
      text-align: left;
      border-right: 4px solid transparent;
      border-bottom: 13.5px solid transparent;
      font-size: 14px;

      svg {
        height: 12px;
        width: 12px;
        margin-bottom: 0px;
        position: relative;
        top: 1px;
        fill: #6b4fbb;
      }

    }

    .category-cell:last-child {
      border-right: 0 none;
    }

  }

  .category:last-row {
    border-bottom: 0 none;
  }

}

.maturity-cell {
  text-align: center;

  svg {
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
    fill: #6b4fbb;
    position: relative;
    top: 3px;
  }
}

.maturity-intro {
  width: 100%;
  margin-top: 50px;
  margin-bottom:50px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #d3d3d3;
}

#maturity-no-padding {
  padding: 0px;
}

.stage-table {
  background-color: #ffffff;
}

.stage-header {
  
  padding: 0px;
  border: 0px;
  border-spacing: 0px;
  margin-bottom: 0px;

  a {
    color: #6b4fbb;
  }

  svg {
    height: 80px;
    fill: #6b4fbb;
  }

  .stage-row {

    .stage-icon {
      text-align: center;
      font-size: 24px;
      border: 0px;
      vertical-align: middle;
      padding: 5px;

      p {
        margin: 0px;
      }

    }

    .stage-maturity {
      border: 0px;
      padding: 10px;
      width: 650px;
    }

    .stage-contributions {
      overflow: hidden;
      border: 0px;
      padding: 10px;

      span {
        font-size: 38px;
      }
      
    }
    
  }
  
}

.legend-table {
  border-collapse: collapse;

  td {
    border: 0;
  }

}

.legend-list {
  list-style: none;
  padding-left: 0;

  svg {
    height: 1em;
    width: 1em;
    fill: #6b4fbb;
    top: .125em;
    position: relative;
  }

}