!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body.blank-body
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      .blank-header
        %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
        %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
        .header-content
          %h1= job[:title]
          %p Department: #{job[:departments].first[:name]}
          %a.btn.cta-btn.orange{ href: "https://boards.greenhouse.io/gitlab/jobs/#{job[:id]}", target: "_blank" } Apply now
      .gitlab-content-container.listing-container
        .content.tile{id: 'job-listing'}
          .margin-bottom40
            = link_to "← Back to GitLab Jobs", "/jobs/apply/"
          %h5= job[:location][:name]
          = CGI.unescapeHTML(job[:content]).html_safe
      = partial "includes/layout/footer"
