%a.announcement-container{ href: "#{data.announcement.button_link}" }
  %img.icon{ src: "/images/press/press-release-icon.svg" }
  .content
    %p
      = data.announcement.content
  %img.announcement-arrow{ src: "/images/solutions/arrow.svg", alt: "Gitlab arrow svg" }
