---
layout: markdown_page
title: Development Department
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

Attract and retain happy customers and make customers successful by products of rich features, high quality, fast performance, trustworthy security, and reliable operation.

## Mission

The development team strives to deliver product requirements fast, resolve customer issues timely, win with open source community jointly, streamline engineering process for efficiency, and enable data-driven operation and enhance transparency through metrics.

The development team is responsible for developing products in the following categories:

* [CI/CD](https://about.gitlab.com/handbook/engineering/development/ci-cd/)
* [Defend](https://about.gitlab.com/handbook/engineering/development/defend/)
* [Dev](https://about.gitlab.com/handbook/engineering/development/dev/)
* [Enablement](https://about.gitlab.com/handbook/engineering/development/enablement/)
* [Growth](https://about.gitlab.com/handbook/engineering/development/growth/)
* [Ops](https://about.gitlab.com/handbook/engineering/development/ops/)
* [Secure](https://about.gitlab.com/handbook/engineering/development/secure/)


## Team Members

The following people are permanent members of the Development Department:

<%
DEPARTMENTS = ['CI/CD', 'Defend', 'Dev' , 'Enablement', 'Growth', 'Ops', 'Secure', 'Fellow']
DEPARTMENT_REGEXP = /(#{Regexp.union(DEPARTMENTS)})/
%>

<%=  direct_team(role_regexp: DEPARTMENT_REGEXP, manager_role: 'Senior Director of Development') %>


## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Development/, direct_manager_role: 'Senior Director of Development') %>

## How We Work

### Onboarding
Welcome to GitLab! We are excited for you to join us.
Here are some curated resources to get you started:

* [Joining as an Engineer](/handbook/engineering/development/onboarding/engineer)
* [Joining as an Engineering Manager](/handbook/engineering/development/onboarding/manager)

### Cross Functional Collaboration

Often times, certain issues can be resolved more efficiently through cross functional collaboration. Should such an issue arises, the following lightweight process is followed:

1. Add the label `arch review` to the issue.
1. Raise attention in Slack [#arch-review](https://gitlab.slack.com/messages/CJ4DB7517).

Note: once the label is added, the issue will also appear on the [development department board](https://gitlab.com/gitlab-com/www-gitlab-com/boards/1008667?label_name[]=Development%20Department) to receive appropriate attention.

### Development Headcount planning

Development's headcount planning follows the Engineering [headcount planning](https://about.gitlab.com/handbook/engineering/#headcount-planning) and [long term profitability targets] (https://about.gitlab.com/handbook/engineering/#long-term-profitability-targets).  Development headcount is a percentage of overall engineering headcount.  For FY20, the headcount size is 271 or ~58% of overall engineering headcount.

We follow normal span of control both for our managers and directors of [4 to 10](https://about.gitlab.com/handbook/leadership/#management-group).  Our sections and groups match as closely as we can to the DevOps Stages to best map 1:1 to [Product Managers](https://about.gitlab.com/handbook/product/).

## Common Links

* [Development department board](https://gitlab.com/gitlab-com/www-gitlab-com/boards/1008667?label_name[]=Development%20Department)
* Slack channel [#development](https://gitlab.slack.com/messages/C02PF508L)
